/* Navbar */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.dropdown ul {
  border-radius: 0px;
  border-color: black;
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}
.dropdown-menu li {
  background-color: #ffaf45;
}
.dropdown-menu li a {
  color: white;
  text-align: center;
  padding: 0.62rem 1rem;
  font-size: 20px;
}
.dropdown-menu li a:hover {
  background-color: #da9438;
  color: white;
  text-align: center;
  padding: 0.62rem 1rem;
  font-size: 20px;
}
.dropdown ul ul {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 0rem;
  left: 19.9rem;
  height: 24.87rem;
  width: 12.5rem;
  border: 1px solid;
}
.dropdown ul ul li {
  text-align: center;
  background-color: #fb6d48;
  padding: 0.61rem 0.5rem;
}
.dropdown ul ul li a {
  background-color: transparent;
  text-decoration: none;
  font-weight: 400;
}
.dropdown ul ul li:hover {
  background-color: #d58570;
}
.dropdown ul ul li a:hover {
  background-color: transparent;
}
.dropdown-menu li:hover ul {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Button Back Page */
.btn-back a {
  display: inline-block;
  background: transparent;
  padding: 0.5rem 1rem;
  border: 1px solid #da9438;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  color: #da9438;
}

.btn-back a:hover {
  display: inline-block;
  background: #da9438;
  padding: 0.5rem 1rem;
  border: 1px solid #da9438;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: all 300ms ease;
}

/* Button Save Recipe */

.btnc {
  display: inline-block;
  background: transparent;
  color: #673f69;
  padding: 1rem 2rem;
  border: 3px solid #673f69;
  font-weight: 500;
  border-radius: 15px;
  font-size: 30px;
  margin-top: 2rem;
}

/* Categories */

.container-alergens {
  display: flex;
  align-items: center;
}

/* Contains labels */

.contains span {
  display: inline-block;
  background: #fb6d48;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}
